@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.partner-banners {
  width: 100%;
  margin: 80px 0;

  &__container {
    @include container(1281px, 20px);
    @include flex-center;
    gap: 13px;
    padding: 0;
  }

  &__card {
    position: relative;
    width: 634px;
    height: 350px;
    border-radius: 20px;
    overflow: hidden;

    background: {
      size: cover;
      position: center;
      repeat: no-repeat;
    }
  }

  &__content {
    position: absolute;
    top: 114px;
    left: 44.18px;
    display: flex;
    flex-direction: column;
    color: $color-white;
  }

  &__title {
    width: 216.48px;
    height: 60px;
    margin: 0;
    @include typography(40px, 700, $color-white);
    line-height: 100%;
  }

  &__text {
    width: 199.91px;
    height: 48px;
    margin-top: 8px;
    @include typography(16px, 400, $color-white);
    line-height: 100%;
  }

  &__button {
    @include button-base(
      $bg-color: $color-brand-yellow,
      $text-color: #1e1e1e,
      $width: 131px,
      $height: 48px,
      $radius: 10px
    );
    margin-top: 32px;

    @include typography(16px, 900);
    letter-spacing: 0.05em;
  }
}
