@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.brand-carousel {
  // Largura total ocupada pelos parceiros acima (611 + 13 + 611)
  @include container(1235px);
  @include flex-center;
  flex-direction: column;
  margin: 80px auto;
  gap: 40px;

  &__title {
    width: 100%;
    margin: 0;
    @include typography(30px, 700, $color-brand-blue);
    text-align: center;
    line-height: 100%;
  }

  &__container {
    display: flex;
    // Centraliza o bloco de marcas para que o respiro lateral seja igual ao dos banners
    justify-content: center;
    // Força o espaçamento exato do Figma
    gap: 42px;
    width: 100%;
    padding: 10px 0;
  }

  &__card {
    @include flex-center;
    width: 211px;
    height: 211px;
    background: $color-white;
    border-radius: 50%;
    box-shadow: 0px 7px 20px 0px rgba(0, 0, 0, 0.13);
    // Impede que o navegador aperte o círculo para tentar caber no gap
    flex-shrink: 0;
    transition: transform $transition-default;

    &:hover {
      transform: translateY(-5px);
    }
  }

  &__logo {
    width: 117px;
    height: auto;
    object-fit: contain;
  }
}
