@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.brand-carousel {
  @include container(1250px);
  @include flex-center;
  flex-direction: column;
  margin: 80px auto;
  gap: 40px;

  &__title {
    width: 100%;
    margin: 0;
    @include typography(30px, 700, $color-brand-blue);
    text-align: center;
    line-height: 100%;
  }

  &__container {
    @include flex-between;
    width: 100%;
    padding: 10px 0;
  }

  &__card {
    @include flex-center;
    width: 211px;
    height: 211px;
    background: $color-white;
    border-radius: 105.5px;
    box-shadow: 0px 7px 20px 0px rgba(0, 0, 0, 0.13);
  }

  &__logo {
    width: 117px;
    height: auto;
    object-fit: contain;
  }
}
