@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.main-banner {
  position: relative;
  width: 100%;

  &__container {
    @include container($padding: 80px);
    @include flex-center;
    justify-content: flex-start;
    height: 390px;
  }

  &__content {
    max-width: 822px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__title {
    @include typography(48px, 600, $color-white);
    line-height: 50px;
    margin: 0;
  }

  &__subtitle {
    @include typography(32px, 700, $color-white);
    line-height: 100%;
    margin: 0;

    span {
      color: $color-brand-yellow;
    }
  }

  &__button {
    @include button-base(
      $bg-color: $color-brand-yellow,
      $text-color: $color-deep-purple,
      $width: 206px,
      $height: 50px,
      $radius: 5px
    );
    margin-top: 24px;
    @include typography(16px, 600, $color-deep-purple);
  }
}
