@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.newsletter {
  width: 100%;
  height: 162px;
  background: $color-deep-purple;
  @include flex-center;
  margin-top: 80px;

  &__container {
    @include container(1440px, 80px);
    @include flex-between;
  }

  &__content {
    max-width: 515px;
  }

  &__title {
    margin: 0;
    font-family: "Outfit", sans-serif;
    font-size: 32px;
    line-height: 120%;
    color: $color-white;
  }

  &__subtitle {
    margin: 10px 0 0 0;
    @include typography(14px, 300, $color-white);
    line-height: 18px;
    max-width: 515px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__inputs-group {
    display: flex;
    gap: 8px;
  }

  &__input {
    width: 233px;
    height: 42px;
    background: $color-white;
    border: 1px solid $color-border-input;
    border-radius: 8px;
    padding: 12px 24px;
    @include typography(14px, 400, $color-deep-purple);

    &::placeholder {
      color: $color-text-muted;
      text-align: left;
    }

    &:focus {
      outline: 1px solid $color-brand-yellow;
    }
  }

  &__button {
    @include button-base(
      $bg-color: $color-brand-yellow,
      $text-color: $color-btn-text-dark,
      $width: 157px,
      $height: 42px,
      $radius: 8px
    );
    @include typography(14px, 600, $color-btn-text-dark);
    line-height: 12px;
  }

  &__terms {
    @include flex-center;
    justify-content: flex-start;
    gap: 10px;

    label {
      @include typography(14px, 400, $color-white);
      line-height: 150%;
      cursor: pointer;
    }

    input[type="checkbox"] {
      cursor: pointer;
      width: 14px;
      height: 14px;
    }
  }
}
