@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.product-tabs {
  @include container(1280px);
  height: 40px;
  display: flex;
  background: $color-white;
  border: 1px solid $color-border-divider;
  margin-bottom: 24px;

  &__item {
    flex: 1;
    height: 100%;
    background: $color-white;
    border: none;
    border-right: 1px solid $color-border-divider;
    cursor: pointer;
    @include typography(14px, 400, #3b3b3b);
    text-transform: uppercase;
    transition: all $transition-default;

    &:last-child {
      border-right: none;
    }

    &.active {
      color: $color-brand-blue;
      font-weight: 700;
    }

    &:hover:not(.active) {
      background-color: $color-background;
    }
  }
}
