@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.product-card {
  width: 304px;
  height: 500px;
  padding: 17px 12px;
  background: $color-white;
  border-radius: 10px;
  box-shadow: 0px 3px 19px 0px rgba(0, 0, 0, 0.22);

  display: flex;
  flex-direction: column;
  position: relative;

  &__image {
    width: 100%;
    height: 228px;
    object-fit: contain;
    margin-bottom: 12px;
  }

  &__name {
    @include typography(15px, 300, $color-text-main);
    margin-bottom: 12px;
    height: 45px;
    line-height: 1.2;
  }

  &__prices {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__old-price {
    @include typography(16px, 400, $color-text-light);
    text-decoration: line-through;
  }

  &__current-price {
    @include typography(20px, 700, $color-text-main);
  }

  &__shipping,
  &__installments {
    @include typography(12px, 400, $color-brand-blue);
    margin-top: 4px;
  }

  &__button {
    @include button-base($color-brand-blue, $color-white);
    margin-top: auto;
    font-weight: 700;
  }
}
