$color-brand-blue: #3442b5;
$color-brand-yellow: #f7ca11;
$color-deep-purple: #271c47;
$color-brand-blue-dark: #3019b2;

$color-white: #ffffff;
$color-background: #f5f5f5;
$color-bg-input: #f6f5f2;
$color-bg-card: #f4f4f4;

$color-text-main: #3f3f40;
$color-text-light: #808080;
$color-text-muted: #9f9f9f;
$color-btn-text-dark: #161615;

$color-border-light: #f0f0f0;
$color-border-input: #e7e7e7;
$color-border-divider: #dedede;
$color-border-modal: #707070;

$font-primary: "Poppins", sans-serif;
$font-secondary: "Work Sans", sans-serif;

$font-size-base: 16px;

$transition-default: 0.2s ease;
