@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.navbar {
  width: 1280px;
  margin: 0 auto;
  background: #ffffff;
  box-shadow: 0px 8px 16px 0px rgba(57, 48, 19, 0.12);
  height: 40px;
  display: flex;
  align-items: center;
  border-top: 1px solid #f0f0f0;

  &__container {
    width: 100%;
    padding: 0 20px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    a {
      @include typography(12px, 600, #9f9f9f);
      text-transform: uppercase;
      text-decoration: none;
      transition: color 0.2s ease;
      display: flex;
      align-items: center;
      gap: 8px;

      &:hover {
        color: #3442b5;
      }
    }

    &--highlight {
      a {
        color: #3019b2;
      }
    }

    &--with-icon {
      a {
        display: flex;
        align-items: center;
      }
    }
  }

  &__icon {
    width: 17px;
    height: 13px;
  }
}
