@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.navbar {
  @include container(1280px);
  @include flex-center;
  height: 40px;
  background: $color-white;
  box-shadow: 0px 8px 16px 0px rgba(57, 48, 19, 0.12);
  border-top: 1px solid $color-border-light;

  &__container {
    width: 100%;
    padding: 0 20px;
  }

  &__list {
    @include flex-between;
    width: 100%;
  }

  &__item {
    a {
      @include typography(12px, 600, $color-text-muted);
      @include flex-center;
      gap: 8px;
      text-transform: uppercase;
      transition: color $transition-default;

      &:hover {
        color: $color-brand-blue;
      }
    }

    &--highlight {
      a {
        color: #3019b2;
      }
    }

    &--with-icon {
      a {
        gap: 10px;
      }
    }
  }

  &__icon {
    width: 17px;
    height: 13px;
    object-fit: contain;
  }
}
